{% extends 'base.html.twig' %}

{% block title %}posts{% endblock %}

{% block body %}
    <div class="col-md-12">
        <h1>All Posts</h1>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for post in posts %}
                <tr>
                    <td>{{ post.id }}</td>
                    <td><a href="{{ path('post.show',{id:post.id}) }}">{{ post.title }}</a></td>
                    <td>
                        <a href="{{ path('post.delete',{id:post.id}) }}" class="text text-danger delete-post">
                            <i class="fa fa-trash"></i>
                        </a>
                        <a href="{{ path('post.show',{id:post.id}) }}" class="text text-info ml-2">
                            <i class="fa fa-eye"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="col-md-6">
        <a href="{{ path('post.create') }}" class="btn btn-primary" style="color: #FFF">Add Post</a>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $(document).on('click','.delete-post',function () {
                window.confirm('Are you sure delete this post ?');
            })
        })
    </script>
{% endblock %}
